Node-RED-Flow.json
[{"id":"816c2fd3.3549d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfba7f3f.d9fb3","type":"ui_form","z":"816c2fd3.3549d","name":"","label":"","group":"cb07b1b4.19ff7","order":1,"width":0,"height":0,"options":[{"label":"How can I help you?","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["9f84d064.22692"]]},{"id":"9f84d064.22692","type":"function","z":"816c2fd3.3549d","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["8da42c74.5462a","bc0c3d79.7667a","80080676.04caf8"]]},{"id":"56d4f596.0db11c","type":"function","z":"816c2fd3.3549d","name":"","func":"msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1)\n{ \n    for(var i in msg.payload.context.webhook_result_1.results)\n    { \n        msg.payload.text=msg.payload.text+\"<br>\"+msg.payload.context.webhook_result_1.results[i].subtitle;\n        msg.payload.text=msg.payload.text+\"<br><br>\"+msg.payload.context.webhook_result_1.results[i].text+\"<br>\";\n    } \n    msg.payload=msg.payload.text; \n    \n} \nelse \nmsg.payload = msg.payload.output.text[0];\nreturn msg; ","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["5100ed9f.b34914"]]},{"id":"bc0c3d79.7667a","type":"watson-conversation-v1","z":"816c2fd3.3549d","name":"RSIP-SDU-Chatbot","workspaceid":"e810ddf1-ad64-4035-9d44-fd496dea8623","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/511e6005-6096-4d63-8839-671f726a98a1","timeout":"","optout-learning":false,"x":470,"y":220,"wires":[["56d4f596.0db11c","9d87dde1.c9d6f"]]},{"id":"8da42c74.5462a","type":"ui_text","z":"816c2fd3.3549d","group":"cb07b1b4.19ff7","order":2,"width":0,"height":0,"name":"","label":"Your Input:","format":"{{msg.payload}}","layout":"col-center","x":380,"y":60,"wires":[]},{"id":"9d87dde1.c9d6f","type":"debug","z":"816c2fd3.3549d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":360,"wires":[]},{"id":"5100ed9f.b34914","type":"ui_text","z":"816c2fd3.3549d","group":"8a38f208.6ef13","order":1,"width":14,"height":17,"name":"","label":"SupportBot:","format":"{{msg.payload}}","layout":"col-center","x":730,"y":220,"wires":[]},{"id":"80080676.04caf8","type":"debug","z":"816c2fd3.3549d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":280,"wires":[]},{"id":"cb07b1b4.19ff7","type":"ui_group","z":"","name":"RSIP-SDU-Chatbot","tab":"5bece7a3.cdda68","order":1,"disp":true,"width":5,"collapse":false},{"id":"8a38f208.6ef13","type":"ui_group","z":"","name":"Response","tab":"5bece7a3.cdda68","order":2,"disp":true,"width":14,"collapse":false},{"id":"5bece7a3.cdda68","type":"ui_tab","z":"","name":"Customer Support Chatbot","icon":"dashboard","disabled":false,"hidden":false}]